html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.table {
	border-radius: 5px;
}

.table th {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table th:nth-child(1),
.table td:nth-child(1) {
	width: 5%;
}

.table th:nth-child(6),
.table td:nth-child(6) {
	width: 10%;
}

[data-bs-theme="light"] {
	body {
		background-color: #d6d6d6ff;
	}
}
